.todo{
    display: block;
    padding: 20px 5px 20px 5px;
    background-color: #ffffff1a;
    color: white;
    border-radius:5px;
    margin: 18px 0px 18px 0px;
    text-align: left;
}

.addTodo__btn{
    width: 100%;
    padding: 10px;
    margin-top: 17px;
    border: none;
    border-radius: 5px;
    background-color:yellowgreen;
    color:white;
}
.todo__input{
    width: -webkit-fill-available;
    border:2.3px solid;
    padding: 11px 0px 11px 11px;
    border-radius: 5px;
}

input:focus {
    outline: none !important;
    border:2px solid yellowgreen;
}

.todoInner__container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.trashCan__img,.update__icon{
    width:30px;
    cursor: pointer;
}
